<head>
<style>
 body{
  background: #fff
 }
</style>
</head>


<form name="f" action="/search">
  <span> <input type="text" name="key" size=89 maxlength="100"> </span>
  <span> <input type="submit" value="fuck it!"> </span>
</form>

